#game-container {
	position: relative;
}

#game {
	position: absolute;
  border: solid 1px black;
  position: relative;
  width: 800px;
  height: 480px;
}

#gui-top-left {
	position:absolute;
	top: 0px;
	left: 0px;
}

#gui-top-center{
	position:absolute;
	top: 0px;
}

#gui-top-right {
	position:absolute;
	top: 0px;
	right: 0px;
}

#gui-bottom-left {
	position:absolute;
	bottom: 0px;
	left: 0px;
}

#gui-bottom-center{
	position:absolute;
	bottom: 0px;
}

#gui-bottom-right {
	position:absolute;
	bottom: 0px;
	right: 0px;
}

